<section class="section-thumbs">
  
  <div class="thumb-wrap">
    <div class="thumb-container">
      {% for project in site.data.settings.projects %}
      <!-- <label for="{{ project.folder }}">   -->
        <div class="thumb-unit" data-folder="{{ project.folder }}" style="background-image: url(assets/img/work/{{project.folder}}/thumb.jpg);"> 
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
          </div>
        </div>
      <!-- </label> -->
      {% endfor %}
    </div>
  </div>
  
</section>